<%- include("./partials/header") %>

    <h1>
        <%= blogTitle %>
    </h1>
    <p>
        <%= blogContent %>
    </p>
    <p>
        <i>written by</i>
        <%= blogAuthor %>
    </p>

    <%- include("./partials/footer") %>