<%- include("./partials/header") %>
    <h3 class="mt-4"><i>Did you know?</i></h3>
    <p>
        <%= fact %>
    </p>
    <h3>Blogs for today</h3>

    <% allBlogs.forEach(blog=> { %>
        <ul>
            <li>
                <h6>
                    <%= blog.title %>
                </h6>
                <p>
                    <%= blog.content.substring(0,100) + " ..." %>
                        <a href="/">read more</a>
                </p>
            </li>
            <div class="">


            </div>
        </ul>
        <%}); %>






            <%- include("./partials/footer") %>